header {
    width: 100vw;
    height: 10rem; 
    border-bottom: 1px solid #00000010;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        color: #ffffffcc;
        font-size: 2rem;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav {
        .nav-bar {
            list-style: none;
            
            display: flex;
            gap: 7rem;

            a {
                padding: 3rem 0;

                background-image:
<<<<<<< Updated upstream
                linear-gradient(
                    transparent 0%,
                    transparent 98%,
                    #00FF38 98%,
                    #00FF38 100%);
        
=======
                    linear-gradient(transparent 0%,
                        transparent 98%,
                        #00FF38 98%,
                        #00FF38 100%);

>>>>>>> Stashed changes
                background-repeat: no-repeat;
                background-size: 0% 100%;
                background-position-x: right;
            
                transition: background-size 300ms;

                &:hover {
                    color: #FFF;
                    background-size: 100% 100%;
                    background-position-x: left;
                }
            }
        }
    }
    .talk-me {
        padding: 1rem;
        background-color: #1B162C;
        border-radius: .5rem;
        transition-duration: 300ms;

        &:hover {
            color: #FFF;
            background-color: #110310;
        }
    }
}