.ForUs {
    margin-top: 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-left: 50rem;
    text-align: center;
    width: 906px;
    height: 68px;
    font-size: 40px;
    font-family: 'Roboto Condensed';
    color: #ffff;
}