.swiper {
    width: 100vw;

    @media (max-width: 1024px) {
        width: 1024px;
    }
    @media (max-width: 768px) {
        width: 768px;
    }
    @media (max-width: 480px) {
        width: 480px;
    }
    .swiper-wrapper {
        margin-left: 15%;
    }
}