.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .swiper-wrapper {
        width: 95%;
    }

    @media (min-width: 300px) {
        width: 300px;
    }
    @media (min-width: 800px) {
        width: 800px;
    }
    @media (min-width: 1200px) {
        width: 1200px;
    }
    @media (min-width: 1600px) {
        width: 1600px;
    }
}