header {
    width: 100vw;
    height: 10rem;
    border-bottom: 1px solid #00000010;
    overflow-x: hidden;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
        color: #ffffffcc;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .nav {
        .btn-mobile {
            display: none;
        }

        .menu {
            list-style: none;
            gap: 7rem;

            @media (min-width: 1024px) {
                display: flex;
            }
            a {
                padding: 3rem 0;

                background-image:
                    linear-gradient(transparent 0%,
                        transparent 98%,
                        #7ED957 98%,
                        #7ED957 100%);

                background-repeat: no-repeat;
                background-size: 0% 100%;
                background-position-x: right;

                transition: background-size 300ms;

                &:hover {
                    color: #FFF;
                    background-size: 100% 100%;
                    background-position-x: left;
                }
            }
        }
    }

    @media (max-width: 480px) {
        gap: 10rem;
    }

    .talk-me {
        padding: 1rem;
        background-color: #1B162C;
        border-radius: .5rem;
        transition-duration: 300ms;

        @media (max-width:480px) {
            display: none;
        }

        &:hover {
            color: #FFF;
            background-color: #110310;
        }
    }

    @media (max-width: 1023px) {
        .menu {
            display: none;
            flex-direction: column;
            gap: 0;

            height: 60vh;
            width: 100%;
            background: #000;
            transition: all 0.8s ease-out;

            position: absolute;
            top: 7rem;
            right: -100vw;
            z-index: 1000;
            overflow: hidden;
            visibility: hidden;

            li {
                display: flex;
                height: 100%;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border-bottom: 1px solid #FFFFFF20;
            }
        }

        .nav {

            &:active .menu{
                display: flex;
            }
            .btn-mobile {
                display: flex;
                flex-direction: column;
                padding: 0.5rem 1rem;

                color: #FFF;
                background: none;
                font-size: 1rem;
                border: none;
                cursor: pointer;
            }

            text-align: center;

            a:hover {
                background: none;
            }

            .btn-mobile {
                transition: all .4s ease-in-out;

                span {
                    display: block;
                    width: 3rem;
                    height: .2rem;
                    border-radius: 9999px;
                    background-color: #FFF;

                    transition: all .4s ease-in-out;

                    &:not(:last-child) {
                        margin-bottom: .7rem;
                    }
                }

                &.active {
                    transition-delay: .4s;
                    transform: rotate(45deg);

                    >span:nth-child(2) {
                        width: 0;
                    }

                    >span:nth-child(1),
                    >span:nth-child(3) {
                        transition-delay: .2s;
                    }

                    >span:nth-child(1) {
                        transform: translateY(9px);
                    }

                    >span:nth-child(3) {
                        transform: translateY(-9px) rotate(90deg);
                    }
                }
            }

            &.active .menu {
                background-color: #000;
                right: 0;
                visibility: visible;
                gap: 0;
            }
        }
    }
}