.forUs-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 45rem;
    width: 35rem;
    background-color: #110310;

    h3 {
        color: #FFF;
        font-size: 2.5rem;
        font-family: 'Roboto Condensed';
    }

    img {
        width: 35rem;
        height: 35rem;
    }
}