.cardProjects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 25rem;
    width: 25rem;

    h3 {
        font-size: 1.5rem;
        color: #FFF;
    }
    img {
        width: 15rem;
        height: 15rem;
    }
}