footer {
    width: 100vw;
    height: 10rem;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    a {
        color: #FFF;
        font-size: 1.5rem;
    }

    span {
        color: #ffffffcc;
        font-size: 1.5rem;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .social {
        display: flex;
        gap: 2rem;
    }

    @media only screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-around;

        span {
            font-size: 2rem;
        }
    }
}