footer {
    width: 100vw;
    height: 23rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    a {
        color: #FFF;
        font-size: 1.5rem;
    }

    span {
        color: #ffffffcc;
        font-size: 1.5rem;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .social {
        display: flex;
        gap: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            height: 5rem;
            width: 4rem;

            @media (max-width: 480px) {
                height: 2rem;
                width: 2rem;
            }
        }

        .logo {
            height: 6.4rem;
            width: 19rem;

            @media (max-width: 480px) {
                height: 4rem;
                width: 11rem;
            }
        }


    }





    @media (max-width: 480px) {
        width: 100vw;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}