.ForUs {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;

    h2 {
        text-align: center;
        width: 46%;
        font-size: 3.2rem;
        font-family: 'Roboto Condensed';
        color: #fff;
    }

    .routes {
        width: 35%;
        padding-bottom: .3rem;
        border-bottom: 1px solid #FFFFFF80;

        display: flex;
        justify-content: space-between;


        label {

            color: #fff;

            background-image:
                linear-gradient(transparent 0%,
                    transparent 95%,
                    #7ED957 95%,
                    #7ED957 100%);

            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position-x: right;

            transition: background-size 300ms;

            span {
                font-size: 2rem;
                font-family: 'Roboto Condensed';
            }

            &:hover {
                background-size: 100% 100%;
                background-position-x: left;

                cursor: pointer;
            }


            input {
                display: none;

                &:checked~span {
                    background-image:
                        linear-gradient(transparent 0%,
                            transparent 95%,
                            #7ED957 95%,
                            #7ED957 100%);
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        height: 100%;
        gap: 5rem;

        .routes {
            width: 90vw;
            height: 100%;
        }
    }
}